* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("images/hero-img.jpg");
  background-position: center;
  background-color: #6F1D1D;
}

nav {
  position: fixed;
  z-index: 1;
  border-bottom: 5px solid black;
}

nav a img {
  width: 167px;
}

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  padding: 70px;
  width: 450px;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border: 5px solid black;
}

.form-wrapper h2 {
  color: #C09057;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  border: 2px solid black;
  background-color: #6F1D1D;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 25%;
}

.form-wrapper form {
  margin: 25px 0 65px;
}

form .form-control {
  height: 50px;
  position: relative;
  margin-bottom: 16px;
}

.form-control input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  color: black;
  font-size: 1rem;
  padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}

form button {
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  background: #6F1D1D;
  color: #C09057;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 25px 0 10px;
  cursor: pointer;
  transition: 0.1s ease;
  font-family: "Roboto", sans-serif;
}

form button:hover {
  background: #c40812;
}

.form-wrapper a {
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}

form .form-help {
  display: flex;
  justify-content: space-between;
}

form .remember-me {
  display: flex;
}

form .remember-me input {
  margin-right: 5px;
  accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
  font-size: 0.9rem;
}

.form-wrapper p a {
  color: #fff;
}

.form-wrapper small {
  display: block;
  margin-top: 15px;
  color: #b3b3b3;
}

.form-wrapper small a {
  color: #0071eb;
}

.botonRegistrarse {
  border: 1px solid black;
  border-radius: 25%;
}

@media (max-width: 740px) {
  nav a img {
    width: 140px;
  }
  .form-wrapper {
    width: 100%;
    border-radius: 25px;
  }
  .form-wrapper form {
    margin: 25px 0 40px;
  }
}
nav {
  background: #C09057;
  height: 80px;
  width: 100%;
}

.enlace {
  position: absolute;
  padding: 10px 20px;
}

.logo {
  width: 120px;
  height: 60px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #000000;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

li a.active,
li a:hover {
  background: #6F1D1D;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #6F1D1D;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
    position: absolute;
  }
  nav ul li a {
    font-size: 16px;
    border: 2px solid #C09057;
    border-radius: 30%;
    background-color: #C09057;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 100%;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: #6F1D1D;
  }
  li a:hover,
  li a.active {
    color: #C09057;
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 100;
  }
}

/*# sourceMappingURL=Register.css.map */
