* {
  box-sizing: border-box;
}

body {
  background-color: #6F1D1D;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.button-container a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  background-color: #C09057;
}

.view-reservations-button {
  background-color: #C09057;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.obras-container {
  margin: 20px 0;
}

.obras-container select {
  background-color: #C09057;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 50px;
  width: 60px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #1cee8c;
}

.seat.occupied {
  background-color: #ffffff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: #C09057;
  padding: 5px 10px;
  border-radius: 5px;
  color: #000000;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #C09057;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-button,
.reset-button {
  background-color: #C09057;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.buy-button:hover,
.reset-button:hover {
  background-color: #C09057;
}

.alert {
  background-color: #00ff88;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  display: none;
}

.alert.show {
  display: block;
}
.email-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.email-popup-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#emailInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.email-popup button {
  background-color: #C09057;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .seat {
    background-color: #444451;
    height: 20px;
    width: 30px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}